@model IdentityDemo2.Models.Attempt

@{
    ViewData["Title"] = "AttemptProblemCodeIt";
}

<h1>AttemptProblemCodeIt</h1>

<h4>Attempt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AttemptProblemCodeIt">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <select asp-for="Language" class="form-control"></select>
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SolvedStatus" class="control-label"></label>
                <select asp-for="SolvedStatus" class="form-control"></select>
                <span asp-validation-for="SolvedStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Result" class="control-label"></label>
                <input asp-for="Result" class="form-control" />
                <span asp-validation-for="Result" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObtainedMarks" class="control-label"></label>
                <input asp-for="ObtainedMarks" class="form-control" />
                <span asp-validation-for="ObtainedMarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserId" class="control-label"></label>
                <select asp-for="ApplicationUserId" class ="form-control" asp-items="ViewBag.ApplicationUserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ContestId" class="control-label"></label>
                <select asp-for="ContestId" class ="form-control" asp-items="ViewBag.ContestId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProblemId" class="control-label"></label>
                <select asp-for="ProblemId" class ="form-control" asp-items="ViewBag.ProblemId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
